<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cadastro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>FORMULÁRIO DE CADASTRO</h2>
  <form action="{% url 'cadastrar' %}" method="POST">{% csrf_token %}

   <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome">
    </div>

     <div class="form-group">
      <label for="sobrenome">Sobrenome:</label>
      <input type="text" class="form-control" id="sobrenome" placeholder="Insira seu sobrenome" name="sobrenome">
    </div>

     <div class="form-group">
      <label for="usuario">Usuário:</label>
      <input type="text" class="form-control" id="usuario" placeholder="Insira o nome de usuário" name="usuario">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Insira o email" name="email">
    </div>
    <div class="form-group">
      <label for="senha">Password:</label>
      <input type="password" class="form-control" id="senha" placeholder="Insira a senha" name="senha">
    </div>

    <div class="form-group">
      <label for="conf_senha">Password:</label>
      <input type="password" class="form-control" id="conf_senha" placeholder="Insira a senha novamente" name="conf_senha">
    </div>

    <button type="submit" class="btn btn-default">Cadastrar</button>
  </form>

</div>
</body>
</html>
